include CONTRIBUTORS LICENSE versioneer.py
include datalad_xnat/_version.py
graft _datalad_buildsupport
graft datalad_xnat
graft docs
prune docs/build
global-exclude *.py[cod]
graft datalad_xnat/resources
